.b-example-divider {
  display: flex;
  height: 3rem;
  background-color: rgba(69, 184, 192, 0.1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  justify-content: center;
  align-items:     center;
}

#top {
	display:table; 
	font-size: 2rem;
  font-weight:900;
	background: linear-gradient(100deg,#e05252 0%, #99e052 25%, #52e0e0 50%,#9952e0 75%, #e05252 100%);
	-webkit-text-fill-color:transparent;
	user-select: none;
	-webkit-user-select: none;
	-webkit-background-clip:text; 
	background-clip: text;
}

.inner-shell{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

[class^="col"]  /* More relevant for Desktop view */
{
  
<<<<<<< HEAD
  min-height:20vh;
=======
  min-height:25vh;
>>>>>>> 9e6ae704a09fdcbe31b6ef6aa9d68905a5cb3798
  margin-bottom:2rem;

}

.bi {
  fill: currentColor;
}

@media (min-height: 877px)
{
 .container{
   height: 95.2vh;
 }
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: .75rem;
  background-color: rgb(225, 250, 255);
}
