body {
	margin: 0;
	padding: 0;
	background: #232323;
	color: #6da890;
	font-family: "Avenir Next", "Avenir", sans-serif;
}
h1 {
	display:table; 
	font-family:Arial, Helvetica, sans-serif; 
	margin: 50px auto;
	font-size: 2em;
	background: linear-gradient(100deg,#e05252 0%, #99e052 25%, #52e0e0 50%,#9952e0 75%, #e05252 100%);
	-webkit-text-fill-color:transparent;
	
	user-select: none;
	-webkit-user-select: none;
	
	-webkit-background-clip:text; 
	background-clip: text;
}

h2{
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 2em;
	display: table;
	background: linear-gradient( 45deg, rgb(8, 102, 179),rgb(160, 205, 241));
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text; 
	background-clip:text;
}

h3{
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 2em;
	display: table;
	background: linear-gradient( 45deg, rgb(8, 179, 170),rgb(201, 255, 252));
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text; 
	background-clip:text;
}

input{
	border-radius:3px;
	background-color:rgb(160, 205, 241);
	color:rgb(8, 102, 179);
	font-weight: bold;
	border-color:rgb(125, 175, 233) ;
}
.button{
	text-align: center;
	padding:5px;
	width:10%;
} 
.container{
	display:block;
	margin:10px;
	
}
#MidText {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

#menuToggle {
	display: block;
	position: absolute;
	width:15%;
	top: 50px;
	left: 50px;
	height:100%;
	z-index: 1;
   
	-webkit-user-select: none;
	user-select: none;
}
#menuToggle a {
	text-decoration: none;
	color: #232323;

	transition: color 0.3s ease;
}
#menuToggle a:hover {
	color: tomato;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* Unsichtbar machen */
	z-index: 2; /* Positioniere in Layer 2 */

	-webkit-touch-callout: none;
}

/*
 * Das "Stock" Menu
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* 
 * Alle Spans zu einem Kreuz verwandeln
 */
 #menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

/*
 * Den mittleren verstecken
 */
 
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Den Dritten anders herum
 */
 
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Absolute in der linken Screen Ecke poitioniert
 */
#menu {
	position: absolute;
	height: 100%;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	position:relative;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
	padding: 10px 0;
	font-size: 22px;
}
/*
 * Von Links einfahren
 * transform: none deaktiviert die standardmaessige invisibilitaet , normal eingefahren;
 */
#menuToggle input:checked ~ ul {
	transform:none;
}
